.contact_tile_container{
    width: 100%;
    /* border: 1px solid black; */
    border-radius: 10px;
    padding: 10px;
    /* min-width: 330px; */
    height: 72px;
    box-sizing: border-box;
    /* overflow: hidden; */
    transition: 0.3ms ease-in;
}
.contact_tile_container:hover{
    background-color: rgb(245, 245, 245);
    cursor: pointer;
}
.contact_tile_main_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.contact_profile_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.contact_image{
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
}
.contact_name_and_message_container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
    /* border: 1px solid black; */
    padding: 0px;
}
.contact_name, .contact_msg{
    margin: 0px;
    color: black;
}
.contact_msg{
    margin: 0px;
    color: gray;
    font-size: 12px;
    justify-content: flex-start;
    width: 177px;
    height: 15px;
    align-content: flex-start;
    overflow: hidden;
}
.contact_tile_btn_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    position: relative;
}
.contact_tile_btn_container .indicator{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: green;
}
.contact_tile_btn_container span{
    font-size: 20px;
    border-radius: 50%;
    padding: 1px;
    transition: 5ms ease-in-out;
}
.contact_tile_btn_container span:hover{
    transition: 5ms ease-in;
    background-color: white;
}
.hamburger_menu_panel{
    width: 180px;
    /* height: 100px; */
    background-color: white;
    /* border: 1px solid black; */
    border-radius: 8px;
    box-shadow: 0px 6px 10px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    padding: 10px 5px;
    position: absolute;
    top: 130%;
    right: 1%;
    z-index: 100;
}
.hamburger_menu_panel p{
    font-size: 14px;
    width: 100%;
    text-align:start;
    padding: 10px 0px 10px 15px;
    border-radius: 5px;
    color: black;
}
.hamburger_menu_panel p:hover{
    cursor: pointer;
    background-color: rgb(245,245,245);
}