.profile_panel{
    position: relative;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    border-right: 3px solid rgb(245,245,245);
}

.profile_panel_container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding-top: 20px;
}

.profile_panel_header_container{
    width: 100%;
    padding: 0px 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
}
.profile_panel_header_container .container_1{
    display: flex;
    flex-direction: row;
    align-items: center;

}
.profile_panel_header_container .container_1 span{
    padding: 5px;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}
.profile_panel_header_container .container_1 span:hover{
    background-color: rgb(245,245,245);
    transform: scale(0.97);
}
.profile_panel_header_container h1{
    font-size: 27px;
}

.profile_panel_img_container{
    width: 100%;
    padding: 0px 15px;
    display: flex;
    align-items: center;
}
.profile_panel_img_container img{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    border-radius: 50%;
    margin: auto;
    /* background-position: center;
    background-size: cover;
    background-repeat: no-repeat; */
    object-fit: cover;
}
/* .chatcontact_search_bar_container input:focus{
    outline: 1px solid black;
}
.chatcontact_search_bar_container input::placeholder{
    color: gray;
    font-size: 14px;
} */

.profile_panel_fields_container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    gap: 10px;
}

.field_container{
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding: 0px 10px;
}
.field_container .name{
    font-weight: bold;
    color: black;
}
.field_container .email{
    font-size: 14px;
    color: black;
    margin-bottom: 5px;
}
.field_container .status{
    font-size: 10px;
    font-weight: bold;
    color: black;
}
.btn_container{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    color: black;
}
.btn_container div{
    width: 100%;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    gap: 5px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    margin-top: 10px;
}
.btn_container div:hover{
    background-color: rgb(245,245,245);
    transform: scale(0.97);
}
.btn_container p{
    /* height: 100%; */
    font-size: 10px;
    font-weight: bold;
    padding: 0px;
}
